* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 40px;
}

#nav > h1 {
  font-size: 45px;
  font-weight: 900;
}

#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px;
  font-size: 30px;
}

#nav #part2 a:nth-last-child(1) {
  padding: 7px 10px;
  border-radius: 50px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  background-color: springgreen;
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}

#nav #part2 a:nth-last-child(1) h5 {
  font-weight: 900;
  position: relative;
  z-index: 99;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main > h1 {
  font-size: 6vw;
  font-weight: 300;
  text-transform: capitalize;
  width: 50%;
  text-align: center;
  z-index: 999;
  position: relative;
}

#main > h1::after {
  content: "";
  position: absolute;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);

  height: 20px;
  width: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#main #img1 {
  height: 500px;
  width: 320px;
  left: 12%;
  top: 20%;
  position: absolute;
}

#main #img2 {
  height: 250px;
  width: 300px;
  right: 20%;
  top: 18%;
  position: absolute;
}

#main #img3 {
  height: 227px;
  width: 227px;
  right: 18%;
  bottom: 5%;
  position: absolute;
}

#main img {
  transition: margin 0.5s ease;
}

#main img:hover {
  margin-top: 2px;
}
